<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOŞGELDİNİZ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>YAPMAK İSTEDİĞİNİZ İŞLEMİ SEÇİN</h2>
        <a href="/register" class="button">Kayıt Ol</a>
        <a href="/login" class="button">Giriş Yap</a>
    </div>
</body>
</html>
